---
---

@import "{{ site.theme }}";

h1 {
  color: #a5ba8a;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-variant: small-caps;
}

h2 {
  padding: 1em
  background-color: #a5ba8a;
  color: white;
  border: none;
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-variant: small-caps;
}

.emphasis {
  color: #a5ba8a;
}

.content {
  margin-left: 5%;
}
