---
---

@import "{{ site.theme }}";

h1 {
  color: #a5ba8a;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h2 {
  padding: 0.5em;
  background-color: #a5ba8a;
  color: white;
  border: none;
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

body {
 font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

.emphasis {
  color: #a5ba8a;
}

.content {
  margin-left: 5%;
}

.par {
  text-indent: 2em;
}
